/*----------------------------------------------------------------------------*\
    #BUTTONS
\*----------------------------------------------------------------------------*/


/*
 * Base button structure required by ALL buttons.
 */
.btn {
    @include font-size( $base-font-size, 1.4 );
    display: inline-block;
    outline: 0;
    border: 0;
    padding: rhythm( 0.75 ) gutter( 1 ) ( rhythm( 0.75 ) - 4px ); /* [1] */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    background: $brand-secondary;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: $text-colour;
    font-weight: 300;

    &:not( [ disabled ] ):hover {
        background-color: $brand-secondary;
        color: $text-colour;
    }

    &[ disabled ] {
        opacity: 0.5;
        pointer-events: none;
    }
}

/*
 * html button - <button> centers text anyway, doesn't need the padding, breaks words on small screens
 */
// .btn--html-button{
//     padding-left: gutter( 0.25 );
//     padding-right: gutter( 0.25 );
// }




/*------------------------------------*\
    #BUTTONS WITH FIXED ICONS
\*------------------------------------*/

/*
 * In most situations 'icon' classes can just be added to a button as normal, the btn--icon classes are
 * only neccessary if a fixed icon is required. Using these classes ensures the icon
 * will always be in the middle (vertically) of the button and a fixed distance from the left/right
 */

/*
 * Button with icon before the text
 */
.btn--icon-before {
    position: relative;
    padding-left: gutter( 2 );
}

/*
 * Button with icon after the text
 */
.btn--icon-after {
    position: relative;
    padding-right: gutter( 2 );
}

    /*
     * 1. Using font icons so overwrite font-size / line-height for consistancy.
     * 2. Keep the icon in the middle of the button when broken over multiple lines.
     * 3. Better vertical alignment of icon as block level
     * 4. Don't need to compensate for vertical alignment issues as it's absolutely positioned
     */
    .btn__icon {
        @include font-size( 20px, 1 ); /* [1] */
        display: block;
        position: absolute;
        top: 50%; /* [2] */
        transform: translate( 0, -50% ); /* [2] */
        line-height: 0.5; /* [3] */

        &:before {
            transform: none; /* [4] */
        }

        .btn--icon-before & { left: gutter( 0.75 ); }
        .btn--icon-after & { right: gutter( 0.75 ); }

    }
