$max-width             : 1440px;
$desktop-width         : 1080px;
$tablet-width          : 840px;
$mobile-width          : 500px;
$min-width             : 320px;

$breakpoints: (
    wide:     $max-width,
    desktop:  $desktop-width,
    tablet:   $tablet-width,
    mobile:   $mobile-width,
    min:      $min-width
);
