// Font
$primary-font:     "Helvetica";
$secondary-font:   "Helvetica";
$web-safe-font:    "\"Helvetica Neue\", Helvetica, Arial, sans-serif";

h1,
.h1 {

}

h2,
.h2 {

}

h3,
.h3 {

}

h4,
.h4 {

}

h5,
.h5 {

}
